.myPosts__wrapper {
    padding: 15px;
    padding-top: 0px;
}

.myPosts__title {
    margin-bottom: 15px;
    font-weight: normal;
}

.posts {
    margin-top: 35px;
}

.add__button {
    background-color: gainsboro;
    border: 1px solid #333;
    color: black;
    border-radius: 10px;
    line-height: 18px;
    cursor: pointer;
    padding: 5px 15px;
    margin-left: 25px;
    transition: all 300ms ease-in-out;
    font-family: Roboto;
}

.add__button:hover {
    background-color:#333;
    color: white;
    transition: all 300ms ease-in-out;
}

.post__edit {
    display: flex;
}

.post__area {
    width: 300px;
    font-size: 14px;
    padding: 7px 0 7px 10px;
    background: #F6F6F6;
    border-radius: 8px;
    border: none;
    outline:none;
}



input[type="text"] {
    font-family: roboto;
}
