.dialogs__wrapper {
    background-color:gainsboro;
    display: grid;
    grid-template-columns: 2fr 1px 10fr;
    
}

.dialogs__item {
    padding: 10px;
}

.dialog {
    padding: 5px;
}

.active {
    color: red;
}

.dialogs__messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start; */
}

.dialog__img {
    display: none;
}

.line {
    border: 1px solid black;
}

.dialogs__add {
    width: 30%;
    resize: none;
    margin-right: 25px;
}

.dialog__send__message {
    display: flex;
    align-items: center;
}

.dialog__send__message button:hover{
    background-color:#333;
    color: white;
    transition: all 300ms ease-in-out;
}

.dialogs__button {
    background-color: gainsboro;
    border: 1px solid #333;
    color: black;
    border-radius: 10px;
    line-height: 18px;
    cursor: pointer;
    padding: 5px 15px;
    transition: all 300ms ease-in-out;
}

