.nav {
    grid-area: n;
    background-color: #333;
    padding: 20px;
}

.item a {
    position: relative;
    line-height: 1;
    color: white;
    transition: all 800ms ease-in-out;
    text-decoration: none;
}

.item a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f1f8f5;
    content: '';
    transition: all 0.3s ease-out;
}

.item a:hover:after,
a:focus:after {
    width: 100%;
}

.item {
    padding: 5px;
}

